
header
{
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    background-size: 100% 100%;
}
.parent 
{
    height: 100%;
}

header .container .navbar
{
    background-color: transparent !important;

}

.navbar .navbar-brand
{
        font-family: 'Kaushan Script', cursive;
        color:rgba(254, 209, 54, 1);
        font-size:30px ;
        font-weight: 500;
}
.navbar .navbar-brand:hover
{
    color: rgba(254, 209, 54, 1);
}

.header .container .navbar .navbar-nav
{
    display: flex;  
}
header .caption 
{
    text-align: center;
    color: white;
    align-items: center;
}


/* the end of header  */
/* the start of Experience Advisors */


.advisors .container .crds 
{
    overflow: hidden;
    position: relative;
  
}

.overlay 
{
    position: absolute ;
    top: -100%;
    left: 15px;
    right: 15px;
    bottom: 100%;
    background-color: rgba(25, 73, 128, 0.884);
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.overlay a
{
    text-decoration: none;
    color: rgba(254, 209, 54, 1);
}

.lay 
{
    position: absolute;
    background-color: #fff;
    color: sienna;
    bottom: 15px;
    right: 15px;
    left: 15px;
    transition: all 1s;
    transition-delay: 0.25s;
}
.crds:hover  .overlay
{
  top: 15px;
  bottom:15px;
}
.crds:hover  .lay
{
 
  bottom:-100%;


}
/* the end of Experience Advisors */
/* the start of  Categories */

.Categories 
{
    background-color: #efefef;
}
.Categories .mini 
{
    background-image: url(../img/1.jpg);
    background-size: 100% 100%;
    height: 200px;
}
.Categories .mini .inside
{
    background-color:rgb(60, 8, 250);
    height: 100%;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.Categories .mini:hover .inside
{
    opacity: .5;
}

/* the end of Categories */
/* the start of Thrads */

.threads 
{
    background-color: efefef;
}
.threads .thread 
{
    background-color: fff;
}
.threads .thread .pic 
{
    position: relative;
}
.threads .thread .iqon
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 2s;
}

.threads .thread .pic:hover .iqon
{
    opacity: 1;
    background-color: rgba(254, 209, 54, .9);

}
.threads .thread .caption 
{
    text-align: center;
}

/* the end of threads */
/* the start of contact us */

.contactus
{
    background-color: #212529;
    background-image: url(../img/map-image.png);
    background-size: cover;
    text-align: center;
    color: #FFf;
}
.contactus .contact .form
{
    display: flex;
    flex: wrap;

}
.contactus .contact .in 
{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.contactus .contact .in input
{
    margin: 20px 0;
    width: 70%;
    padding: 20px 10px;
    border-radius: 5px;
    border: none;
}
.contactus .contact .text
{
    width: 50%;
    margin: 20px 0;
    display: flex;
    align-items: left;

}
.contactus .contact .text textarea
{
    width:80%;
    height: 80%;
    border: none;
    border-radius: 5px;
}
.contactus .btn
{
    width: 20%;
    height: 70px;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

    /* the end of contact us */
    /* the start of footer */
footer .foter
{
    text-align: center;
    padding: 10px;
}